<body>
    <!-- Section des détails de la voiture -->
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6">
                <img src="../../Vue/img/carousel-1.png" alt="Image de la voiture" class="img-fluid">
            </div>
            <div class="col-md-6">
                <h2><%= modele.nom %></h2>
                <p><strong>Prix :</strong> <%= modele.prixVoiture %></p>
                <p><strong>Moteur :</strong> <%= modele.Moteur %></p>
                <p><strong>Transmission :</strong> Automatique</p>
                <p><strong>Vitesse maximale :</strong> 150 km/h</p>
                <p><strong>Accélération (0-100 km/h) :</strong> 4,5 secondes</p>
                <p><strong>Consommation :</strong> <%= modele.Consomation %> </p>
                <button class="btn btn-danger">Ajouter des options</button>
                <!-- Ajoutez d'autres caractéristiques au besoin -->
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-12">
                <h3>Description</h3>
                <p><%= modele.Description %></p>
            </div>
        </div>
    </div>

    <!-- Scripts JavaScript et Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.7.0/dist/js/bootstrap.min.js"></script>
    <!-- Ajoutez d'autres scripts au besoin -->

</body>

</html>